<h1>Log in</h1>

<%= form_tag '/login' do %>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <p><%= link_to "forgotten password?", new_password_reset_path %></p>
  <div class="field">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :remember_me %>
  </div><br>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
