<h5>To reset your password click the URL below.<h5>

<p><%= edit_password_reset_url(@user.password_reset_token) %><p>

<p>If you did not request your password to be reset please ignore this email and your password will stay as it is.</p>
