<%= form_for @user, url: (@user.id ? user_path(@user) : users_path) do |f| %>
  <% if @user.id %>
    Username: <br><%= f.text_field :username %><br>
  <% end %>
  <% if @user.id %>
  	Email: <br><%= f.text_field :email, disabled: true %><br>
  <% else %>
  	Email: <br><%= f.text_field :email %><br>
  <% end %>
  Password: <br><%= f.password_field :password %><br>
  Password Confirmation: <br><%= f.password_field :password_confirmation %><br><br>
  <%= f.submit @user.id ? "Update" : "Submit" %>
<% end %>
